body {
  display: block;
  margin: 8px;
  color: #669;
  background: #ffffff;
  font: 400 14px CoreSans, arial, sans-serif;
}

a {
  color: #669;  
}

a:hover {
  text-decoration: underline;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 2px solid #dadada;
  color: #6f7072;
}

button {  
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dadada;
  background: transparent;
  color: #6f7072;
  cursor: pointer;
  background-color: #f4f4f4;
}

button:hover {
  color: #222;
}

*:focus {
  outline: none;
}

.container{	
	width: 80%;
	margin: 20 auto;
}

.page-header{
	width: 100%;
	display: flex;
}

.search-wrapper{	
	width: 100%;
	text-align: center;
	font-size: 16px;    
}

.search-wrapper > form > input
{

  width: 400px;

}

/*
  STEP 12: Add code here
*/



.table {
  margin: 20px 0;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}

.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap; 
  padding: 10px;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
}

.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.more-results{
  text-align: center;
} 